<div class="container" style="margin-top: 100px;">
  <h1 style="font-family: 'Lora'; font-size: 400%; text-align: center; margin-bottom: 100px;">Yejin Choi</h1>

  <div class="row justify-content-center">
    <div>
      <p style="font-size:18px; font-family: 'Source Sans Pro', sans-serif; font-weight: bold;">Welcome to my website!</p>

      <p style="font-size:16px; font-family: 'Source Sans Pro', sans-serif;">
        I am a senior at Emory University’s 
        <a href="https://escp.eu/" target="_blank" style="color: #0e76a8; text-decoration: underline;">Goizueta Business School</a>, 
        double majoring in Information Systems & Operations Management and Quantitative Sciences.
      </p>

      <p style="font-size:16px; font-family: 'Source Sans Pro', sans-serif;">
        Currently, I am a teaching assistant for the Business Data Analytics course, and next semester, I will be joining a capstone project with Dr. Jiwon Kim. 
        This project will focus on developing and testing data-driven products and models for <a href="https://techbridge.org" target="_blank" style="color: #0e76a8; text-decoration: underline;">TechBridge</a>, 
        aimed at supporting nonprofit organizations working in hunger relief, homelessness, social justice, and workforce development—all at a below-market cost.
      </p>

      <p style="font-size:16px; font-family: 'Source Sans Pro', sans-serif;">
        I also have advanced my data science skills through various projects, coursework, and certifications. 
        Check out my <a href="https://public.tableau.com/app/profile/yejin.choi5948/vizzes" target="_blank" style="color: #0e76a8; text-decoration: underline;">public Tableau portfolio</a> 
        for data visualizations, or visit my <a href="https://github.com/yejinannachoi" target="_blank" style="color: #0e76a8; text-decoration: underline;">GitHub</a> for personal projects and programming work.
      </p>

      <p style="font-size:16px; font-family: 'Source Sans Pro', sans-serif;">
        Connect with me on <a href="https://www.linkedin.com/in/choiyejin/" target="_blank" style="color: #0e76a8; text-decoration: underline;">LinkedIn</a> 
        to learn more about my academic and professional background, or explore my CV to see how my skills and experiences align with my passion for data analytics and data science.
      </p>
      
      <p style="font-size:16px; font-family: 'Source Sans Pro', sans-serif;">
        <span style="font-weight: bold;">Industries of interest:</span> Media, Entertainment, Gaming, and Sports
      </p>
    </div>
  </div>
</div>

<!-- <div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.linkedin_username != '' %}
              <a href="https://www.linkedin.com/in/{{ site.linked_in_username }}" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            {% endif %}
            {% if site.email != '' %}
              <a href="mailto:{{ site.email }}"><button class="btn btn-default btn-lg"><i class="fa fa-envelope fa-lg"></i> Email</button></a>
            {% endif %}

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
 -->
