<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap" rel="stylesheet" type="text/css">

</head>
<body>

<div class="container" style="margin-top: 100px;">
  <h1 style="font-size:48px; font-family: 'Lora', serif; font-weight: 400; text-align: center; margin-bottom: 50px;">Yejin (Anna) Choi</h1>  

  <div class="row justify-content-center">

    <div class="col-lg-1 d-none d-lg-block"></div>

    <div class="col-lg-5 col-md-6 col-12">
      <img src="headshot.JPG" alt="Yejin Choi" class="img-fluid" style="max-width: 100%; margin-top: 5px;">
    </div>
    
    <div class="col-lg-5 col-md-6 col-12">
      <p style="font-size:18px; font-family: 'Source Sans 3', sans-serif; font-weight: bold;">Welcome to my website!</p>

      <p style="font-size:16px; font-family: 'Source Sans 3', sans-serif;">
        I am a senior at Emory University’s 
        <a href="https://escp.eu/" target="_blank" style="color: #0e76a8; text-decoration: underline;">Goizueta Business School</a>, 
        double majoring in Information Systems & Operations Management and Quantitative Sciences.
      </p>

      <p style="font-size:16px; font-family: 'Source Sans 3', sans-serif;">
        Currently, I am a teaching assistant for the Business Data Analytics course, and next semester, I will be joining a capstone project with Dr. Jiwon Kim. 
        This project will focus on developing and testing data-driven products and models for <a href="https://techbridge.org" target="_blank" style="color: #0e76a8; text-decoration: underline;">TechBridge</a>, 
        aimed at supporting nonprofit organizations working in hunger relief, homelessness, social justice, and workforce development—all at a below-market cost.
      </p>

      <p style="font-size:16px; font-family: 'Source Sans 3', sans-serif;">
        I also have advanced my data science skills through various projects, coursework, and certifications. 
        Check out my <a href="https://public.tableau.com/app/profile/yejin.choi5948/vizzes" target="_blank" style="color: #0e76a8; text-decoration: underline;">public Tableau portfolio</a> 
        for data visualizations, or visit my <a href="https://github.com/yejinannachoi" target="_blank" style="color: #0e76a8; text-decoration: underline;">GitHub</a> for personal projects and programming work.
      </p>

      <p style="font-size:16px; font-family: 'Source Sans 3', sans-serif;">
        Connect with me on <a href="https://www.linkedin.com/in/choiyejin/" target="_blank" style="color: #0e76a8; text-decoration: underline;">LinkedIn</a> 
        to learn more about my academic and professional background, or explore my CV to see how my skills and experiences align with my passion for data analytics and data science.
      </p>
      
      <p style="font-size:16px; font-family: 'Source Sans 3', sans-serif;">
        <span style="font-weight: bold;">Industries of interest:</span> Media, Entertainment, Gaming, and Sports
      </p>
    </div>

    <div class="col-lg-2 d-none d-lg-block"></div>
    
  </div>
</div>
</body>
</html>

<!-- <div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.linkedin_username != '' %}
              <a href="https://www.linkedin.com/in/{{ site.linked_in_username }}" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            {% endif %}
            {% if site.email != '' %}
              <a href="mailto:{{ site.email }}"><button class="btn btn-default btn-lg"><i class="fa fa-envelope fa-lg"></i> Email</button></a>
            {% endif %}

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
 -->
